.container {
    display: flex;
    margin: 10px 5px 5px 5px;
    border: 4px solid #ccc;
    border-radius: 10px;
}

.container div {
    padding: 10px;
}

.container div h3 {
    font-size: 1.1em;
    margin-bottom: 5px
}

.container img {
    width: 350px;
    height: 200px;
    margin-right: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.container video {
    width: 350px;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}